body {
    background-color: azure;
    text-align: center;
    font-family: monospace;
}

#title {
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.description {
    font-size: 15px;
}

#container {
    background-color: rgba(202, 202, 202, 0.8);
    margin: 0 auto;
    border-radius: 20px;
    width: 75vw;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
}

.labels {
    font-size: 15px;
    font-weight: bold;
}

.input-field {
    height: 20px;
    width: 280px;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

#salidas {
    font-size: 20px;
    font-weight: bold;
}

#boton-enviar {
    background-color: #282caae2;
    border-radius: 4px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 120px;
    margin: 10px;
    border: 0px solid;
}